.f{
    border-bottom: 1px solid #2b2b2b;
    height:150px;
}
.f a {
  margin-left: 10%;
  text-decoration: none;
  font-size: 20px;
  color: #4169e1;
}
.e{
    margin-left:80%;
}
.d{
    align-content: center;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
   
}
.d ul{
    list-style-type:none;
    padding:0;
    margin:0;
}    
.d ul li{
    float: left;
    text-align:center;
    width:20%;
}
.d ul li a{
    
    display:block;
    height:20px;
    padding:10px;
    text-decoration: none;
    color:#a9a9a9;
    font-size:20px;
    margin:0;
}
.d ul li a:hover{
    filter:drop-shadow(10px 10px 10px black);
}
.menu{
    border-top: 1px solid #2b2b2b;
}
.h{
    overflow: hidden;
    
    
}
.a{
    height:100%;
    width:15%;
    float:left;
    padding-left:10px;
    box-sizing: border-box;
}
.a img{
    height:200px;
    width:200px;
}
.g{
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    text-align:center;
}
.g p{
    margin:0;
}
.c{
    height:100%;
    width:55%;
    float:left;
    text-align:center;
    padding-left:15%;
}
table{
    margin-top:6%;
    margin-left:30%;
    border-collapse:collapse;
}
.table{
    padding-bottom:30px;
}
