.b{
    background-color:#ffc0cd;
    color:#ffffff;
    padding-top:10px;
    padding-bottom:5px;
    padding-left:15px;
    
}
.a{
    border:1px #000000 solid;
    margin-bottom:10px;
}
h1{
    margin:0em;
}
.c{
    padding :13px;
}